<%- include("/home/anant/EJS-Challenge/views/partials/header.ejs") %>
    <h1>Compose </h1>
    <form class="item" action="/compose" method="post">
        <div class="form-group">

            <label for="exampleInputEmail1">Title</label>
            <input name="postTitle" class="form-control" id="exampleInputEmail1">


            <label for="exampleInputEmail1">Post</label>
            <textarea name="postBody" class="form-control" cols="30" rows="5"></textarea>

        </div>
        <button type="submit" name="button" class="btn btn-primary">Publish</button>
    </form>


    <%- include("/home/anant/EJS-Challenge/views/partials/footer.ejs") %>