<%- include("/home/anant/EJS-Challenge/views/partials/header.ejs") %>
<h1><%= Titleincompose %> </h1>
<p>
    <%= Contentincompose %>
</p>


<%- include("/home/anant/EJS-Challenge/views/partials/footer.ejs") %>